<nav>
    <div class="navbarBackgroundRectangle">
        <a href="./index.html">
            <img class="logo"
                src="./assets/images/logo/Campus Mart logo.png"
                alt="Logo">
        </a>
        <div class="searchContainer">
            <div class="searchParameterBoxRectangle">
                <button class="searchButtonRectangle">
                    <p class="text">Search</p>
                </button>
                <input type="text" class="searchInput" placeholder="e.g.: laptop, bicycle, shoe rack">
            </div>
        </div>
        <a href="./BrowseCategory.html" class="text">Browse Category</a>
        <a href="./SignIn.html" id="loginLink" class="text">Sign in</a>
    </div>
</nav>